.p__15 {
    font-size: 17px;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 12px white;
    text-align: center;
    transition-duration: 1s;
    overflow: hidden;
}
.p__15:hover {
    transform: scale(1.1);
    color: red;
}